body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ce-chat-title-text {
  color: #722ed1 !important;
}

.ce-chat-subtitle-text {
  color: #722ed1 !important;
}

#ce-send-message-button {
  background-color: #722ed1 !important;
}

.ce-avatar {
  width: 100px !important;
  height: 100px !important;
}
